
<link rel="stylesheet" href="{{url_for('static', filename='fonts/nunitosans.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/googleicons.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons"></i>LAZER TANKS BITCH</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/settings"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>
